.wrapper_favorite {
  max-width: 1200px;
}
.site-path {
  margin-left: 39px;
}
.product-catalogue_favorite {
  width: inherit;
}
.product-catalogue_favorite .product-catalogue__pagination {
  width: unset;
  margin: 25px auto 72px;
}
.product-catalogue_favorite .item-desc {
  outline: none;
}
.product-catalogue_favorite .product-catalogue__product_favorite a {
  background-image: url(../img/new-deals__product_favorite_chosen.png);
}
.product-catalogue__head_favorite {
  display: flex;
  justify-content: space-between;
  width: inherit;
  height: unset;
  padding-left: 40px;
  margin-top: 16px;
  padding-bottom: 13px;
  border-bottom: 1px solid #f4f4f4;
}
.product-catalogue__head .product-catalogue__section-title {
  width: unset;
}
.product-catalogue__head h2.section-name {
  padding-left: 0;
}
.product-catalogue__head .amount_favorite {
  padding-left: 17px;
}
.product-catalogue__item-list_favorite {
  max-width: 1200px;
  width: unset;
  margin-left: 0;
  outline: none;
  border-top: none;
}
