@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&subset=cyrillic-ext');
@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed&subset=cyrillic-ext');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  min-width: 1205px;
}
.container {
  font-family: Roboto, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper {
  height: 100%;
  width: 1205px;
  margin: 0 auto;
}
.header .top-menu {
  min-height: 49px;
  height: 1px;
  background: #A1B3BF;
}
.header .top-menu__items {
  height: 100%;
  display: flex;
  padding: 0 35px;
  justify-content: space-between;
  align-items: center;
}
.header .top-menu__item {
  list-style: none;
  flex: 1;
  text-align: center;
}
.header .top-menu__item a {
  text-decoration: none;
  font-size: 18px;
  color: #333333;
}
.header .top-menu__item a:hover {
  color: #DBE4E7;
}
.header .header-main {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 124px;
  background: url(../img/header-waves.png) bottom center no-repeat, linear-gradient(93.68deg, #EBE5E9 5.29%, #D1E3E5 95.42%);
}
.header .header-main__wrapper {
  min-height: 139px;
  display: flex;
  padding: 0 28px;
  justify-content: space-between;
  align-items: center;
  flex: 1;
  text-align: center;
}
.header .header-main__phone {
  flex: 1;
  text-align: left;
}
.header .header-main__phone a {
  font-weight: bold;
  font-size: 27px;
  text-decoration: none;
  color: #A1B3BF;
}
.header .header-main__phone p {
  font-weight: 300;
  font-size: 16px;
  color: #A1B3BF;
}
.header .header-main__logo {
  flex: 1;
}
.header .header-main__logo p {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 16px;
  color: #A1B3BF;
}
.header .header-main__profile {
  flex: 1;
}
.header .header-main__pics {
  display: flex;
  justify-content: space-between;
  max-width: 270px;
  margin-left: auto;
}
.header .header-main__pic {
  height: 32px;
  width: 32px;
  margin: 0 auto;
  background-image: url(../img/header__profile_sprite.png);
  background-repeat: no-repeat;
  background-position: -64px 0;
}
.header .header-main__pic_profile {
  background-position: -32px 0;
}
.header .header-main__pic_basket {
  position: relative;
  background-position: 0 0;
}
.header .header-main__pic_basket_full {
  position: absolute;
  right: -10px;
  top: -5px;
  display: none;
  height: 21px;
  width: 21px;
  font-size: 11px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  border-radius: 45%;
  background: linear-gradient(90deg, #FF65A5 1.11%, #FF8076 100%);
  box-shadow: 0px 2px 8px rgba(255, 101, 165, 0.6), inset 0px 1px 1px #FF8076;
}
.header .header-main__pic:hover {
  background-position-y: -32px;
  cursor: pointer;
}
.header .header-main__pic_border {
  border-left: 2px solid #F4F5F2;
}
.header .header-main__hidden-panel {
  display: none;
  min-height: 55px;
  width: 100%;
  background: url(../img/header-waves.png) bottom center no-repeat, linear-gradient(90deg, #FF65A5 0%, #FF8076 100.22%);
  box-shadow: inset 0px 2px 2px rgba(41, 42, 58, 0.25);
}
.header .header-main__hidden-panel_not-hidden {
  display: block;
}
.header .main-menu {
  min-height: 58px;
  height: 1px;
}
.header .main-menu__items {
  height: 100%;
  display: flex;
  padding: 0 24px;
  justify-content: space-around;
  align-items: center;
}
.header .main-menu__item {
  list-style: none;
  text-align: center;
}
.header .main-menu__item a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  color: #A1B3BF;
}
.header .main-menu__item a:hover {
  color: #000000;
}
.slider__picture {
  position: relative;
}
.slider__picture h2 {
  position: absolute;
  right: 4px;
  top: 42px;
  height: 98px;
  width: 487px;
  font-weight: bold;
  font-size: 48px;
  line-height: 98px;
  text-align: center;
  color: #FFFFFF;
  background: linear-gradient(270deg, rgba(161, 179, 191, 0.8) 72.59%, rgba(161, 179, 191, 0) 98.05%);
}
.slider__arrow {
  position: absolute;
  top: 50%;
  height: 30px;
  width: 30px;
  background-image: url(../img/slider_sprite.png);
  background-repeat: no-repeat;
}
.slider__arrow_left {
  left: 10px;
  background-position: 0 0;
}
.slider__arrow_right {
  right: 10px;
  background-position: -30px 0;
}
.slider__arrow:hover {
  cursor: pointer;
}
.slider__circles {
  display: flex;
  position: absolute;
  bottom: 10px;
  left: 48%;
}
.slider__circle {
  height: 30px;
  width: 30px;
  background-image: url(../img/slider_sprite.png);
  background-repeat: no-repeat;
  background-position: 0 -30px;
}
.slider__circle_active {
  background-position: -30px -30px;
}
.slider__circle:hover {
  cursor: pointer;
}
