@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&subset=cyrillic-ext');
body {
  min-width: 1205px;
}
.container {
  font-family: Roboto, sans-serif;
  max-width: 1440px;
  margin: 0 auto;
}
.wrapper {
  width: 1205px;
  margin: 0 auto;
}
