extends blocks/layout-page

block pageTitle 
    title Избранное

append pageLinks
    link(rel="stylesheet", href="css/style-order.css")
    link(rel="stylesheet", href="css/style-catalogue.css")
    link(rel="stylesheet", href="css/style-favorite.css")

block content
  

