extends blocks/layout-page

block pageTitle 
    title Избранное

append pageLinks
    link(rel="stylesheet", href="css/style-order.css")
    link(rel="stylesheet", href="css/style-catalogue.css")
    link(rel="stylesheet", href="css/style-favorite.css")

block content
    .wrapper.wrapper_favorite
        .site-path
            ul.site-path__items
                li.site-path__item
                    a(href="index.html") Главная
                li.site-path__item
                    a(href="favorite.html") Избранное
        main.product-catalogue.product-catalogue_favorite
            section.product-catalogue__head.product-catalogue__head_favorite
                .product-catalogue__section-title
                    h2.section-name В ВАШЕМ ИЗБРАННОМ
                    span.amount.amount_favorite  99 товаров
                .product-catalogue__sort-by
                    p.sort-by Сортировать
                    select#sorting(name='')
                        option(value='') по дате добавления
                        option(value='') по размеру
                        option(value='') по производителю
            section.product-catalogue__item-list.product-catalogue__item-list_favorite
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-1(src='img/catalogue-pics/product-catalogue__item-1.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Босоножки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Damlax
                        p.item-price 18 520
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-2(src='img/catalogue-pics/product-catalogue__item-2.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Ботинки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Norma J.Baker
                        p.item-price 23 150
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-3(src='img/catalogue-pics/product-catalogue__item-3.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Босоножки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Damlax
                        p.item-price 5 390
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-4(src='img/catalogue-pics/product-catalogue__item-4.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Кроссовки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Damlax
                        p.item-price 6 520
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-5(src='img/catalogue-pics/product-catalogue__item-5.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Резиновые полусапоги женские
                        p.item-producer
                            | Производитель: 
                            span.producer Menghi Shoes
                        p.item-price 10 030
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-6(src='img/catalogue-pics/product-catalogue__item-6.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Полусапоги женские
                        p.item-producer
                            | Производитель: 
                            span.producer Pegia
                        p.item-price 10 140
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-7(src='img/catalogue-pics/product-catalogue__item-7.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Босоножки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Baldinini
                        p.item-price 25 020
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-8(src='img/catalogue-pics/product-catalogue__item-8.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Туфли женские
                        p.item-producer
                            | Производитель: 
                            span.producer Baldini
                        p.item-price 18 520
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-9(src='img/catalogue-pics/product-catalogue__item-9.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Полуботинки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Norma J.Baker
                        p.item-price 21 830
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-10(src='img/catalogue-pics/product-catalogue__item-10.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Туфли женские
                        p.item-producer
                            | Производитель: 
                            span.producer Norma J.Baker
                        p.item-price 20 830
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-11(src='img/catalogue-pics/product-catalogue__item-11.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Ботинки женские
                        p.item-producer
                            | Производитель: 
                            span.producer Norma J.Baker
                        p.item-price 26 240
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
                .item-list__item-card.item
                    .item-pic
                        img.item-pic-12(src='img/catalogue-pics/product-catalogue__item-12.png', alt='')
                        .product-catalogue__product_favorite
                            a(href='#')
                        .arrow.arrow_left
                        .arrow.arrow_right
                    .item-desc
                        h4.item-name Туфли женские
                        p.item-producer
                            | Производитель: 
                            span.producer Vittorio Virgili
                        p.item-price 17 750
                        .sizes
                            p.sizes__title Размеры в наличии:
                            p.sizes__avalible 36, 37, 38, 39, 40, 41, 42
            .product-catalogue__pagination
                .page-nav-wrapper
                    .angle-back
                        a(href='#')
                    ul
                        li.active
                            a(href='#') 1
                        li
                            a(href='#') 2
                        li
                            a(href='#') 3
                        li
                            a(href='#') 4
                        li
                            a(href='#') 5
                        li
                            a(href='') ...
                        li
                            a(href='#') 99
                    .angle-forward
                        a(href='#')

