doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Оформление заказа
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/style-order.css")
    body
        .container
            //- include blocks/header
                <!-- main content -->
            .site-path
                ul
                    li
                        a(href="#") Главная
                    li
                        a(href="#") Корзина
                    li
                        a(href="#") Оформление заказа

            section.order-process
                h2.order-process__title Оформление заказа
                .order-process__basket.order-basket
                    .order-basket__title В ВАШЕЙ КОРЗИНЕ:
                    .order-basket__item-list.basket-item-list
                        .basket-item-list__pic
                        .basket-item-list__product
                            .basket-item-list__product-name Босоножки женские
                            .basket-item-list__size Размер: 
                                span 37
                            .basket-item-list__producer Производитель: 
                                span Albano
                            .basket-item-list__color Цвет: 
                                span Черный
                        .basket-item-list__quantity 1
                        .basket-item-list__price 5 950 
                          i.fa.fa-rub(aria-hidden='true')
                    .order-basket__summ Итого:
                      span 12 050 
                      i.fa.fa-rub(aria-hidden='true')
                .order-process__confirmed
                    form(action="#")
                        .order-process__delivery
                            h3.h3 КОМУ И КУДА ДОСТАВИТЬ?
                            label.order-process__radio_label
                              .order-process__radio_text Имя
                              input.order-process__radio(type='text', name='delivery', placeholder='Представьтесь, пожалуйста')
                            label.order-process__radio_label
                              .order-process__radio_text Телефон
                              input.order-process__radio(type='phone', name='delivery', placeholder='Номер в любом формате')
                            label.order-process__radio_label
                              .order-process__radio_text Адрес
                              input.order-process__radio(type='text', name='delivery', placeholder='Ваша покупка будет доставлена по этому адресу')
                        .order-process__paid
                            h3.h3 ХОТИТЕ ОПЛАТИТЬ ОНЛАЙН ИЛИ КУРЬЕРУ ПРИ ПОЛУЧЕНИИ?
                            label.order-process__radio_label
                              input.order-process__radio(type='radio', name='paid', value='card-online')
                              .order-process__radio_text Картой онлайн
                            label.order-process__radio_label
                              input.order-process__radio(type='radio', name='paid', value='card-courier', checked='')
                              .order-process__radio_text Картой курьеру
                            label.order-process__radio_label
                              input.order-process__radio(type='radio', name='paid', value='cash')
                              .order-process__radio_text Наличными курьеру
                        input.order-process__submit(type="submit" value="Подтвердить заказ")

            //- include blocks/footer