doctype
html(lang="ru")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Оформление заказа
        link(rel="stylesheet", href="css/normalize.css")
        link(rel="stylesheet", href="css/font-awesome.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/style-order.css")
    body
      .container
        include blocks/header
        .wrapper.order-wrapper                   
            .site-path
                ul.site-path__items
                    li.site-path__item
                        a(href="#") Главная
                    li.site-path__item
                        a(href="#") Корзина
                    li.site-path__item
                        a(href="#") Оформление заказа

            section.order-process
                h2.order-process__title Оформление заказа
                .order-process__basket.order-basket
                    .order-basket__title В ВАШЕЙ КОРЗИНЕ:
                    .order-basket__item-list
                      include blocks/basket-item  
                      include blocks/basket-item                    
                    .order-basket__summ Итого:
                      span 12 050 
                         i.fa.fa-rub(aria-hidden='true')
                .order-process__confirmed
                    form(action="#")
                        .order-process__delivery
                          h3.h3 КОМУ И КУДА ДОСТАВИТЬ?
                          .order-process__delivery-form
                            label.order-process__delivery-label
                              .order-process__delivery-text Имя
                              input.order-process__delivery-input(type='text', name='delivery', placeholder='Представьтесь, пожалуйста')
                            label.order-process__delivery-label
                              .order-process__delivery-text Телефон
                              input.order-process__delivery-input(type='tel', name='delivery', placeholder='Номер в любом формате')
                            label.order-process__delivery-label
                              .order-process__delivery-text Адрес
                              input.order-process__delivery-input.order-process__delivery-input_adress(type='text', name='delivery', placeholder='Ваша покупка будет доставлена по этому адресу')
                          p Все поля обязательны для заполнения. Наш оператор свяжется с вами для уточнения деталей заказа.
                        .order-process__paid
                           h3.h3 ХОТИТЕ ОПЛАТИТЬ ОНЛАЙН ИЛИ КУРЬЕРУ ПРИ ПОЛУЧЕНИИ?
                           .order-process__paid-form
                            label.order-process__paid-label
                              input.order-process__paid-radio(type='radio', name='paid', value='card-online')
                              span.order-process__paid_text Картой онлайн
                            label.order-process__paid-label
                              input.order-process__paid-radio(type='radio', name='paid', value='card-courier', checked='')
                              span.order-process__paid_text Картой курьеру
                            label.order-process__paid-label
                              input.order-process__paid-radio(type='radio', name='paid', value='cash')
                              span.order-process__paid_text Наличными курьеру
                        input.order-process__form-submit(type="submit" value="Подтвердить заказ")
        include blocks/footer