.basket-item
    .basket-item__pic
        img(src="img/catalogue-pics/product-catalogue__item-1.png", alt="product_1")
    .basket-item__product
        .basket-item__product-name
            a(href="#") Босоножки женские
        .basket-item__product-features
            .basket-item__size Размер: 
                span 37
            .basket-item__producer Производитель: 
                span Albano
            .basket-item__color Цвет: 
                span Черный
    .basket-item__quantity
        .basket-item__quantity-change.basket-item-list__quantity-change_minus -
        |1
        .basket-item__quantity-change.basket-item-list__quantity-change_plus +
    .basket-item__price 5 950 
        i.fa.fa-rub(aria-hidden='true')
