header.header
    .top-menu
        .wrapper
            ul.top-menu__items
                li.top-menu__item
                    a(href='#') Возврат
                li.top-menu__item
                    a(href='#') Доставка и оплата
                li.top-menu__item
                    a(href='#') О магазине
                li.top-menu__item
                    a(href='#') Контакты
                li.top-menu__item
                    a(href='#') Новости
    .header-main
        .header-main__wrapper.wrapper
            .header-main__phone
                a(href='tel:++7-495-790-35-03') +7 495 79 03 5 03
                p Ежедневно: с 09-00 до 21-00
            .header-main__logo
                a(href='#')
                    h1
                        img(src='img/header-logo.png', alt='logotype')
                p Обувь и аксессуары для всей семьи
            .header-main__profile
                .header-main__pics
                    .header-main__pic.header-main__pic_search
                    .header-main__pic_border
                    .header-main__pic.header-main__pic_profile
                        .header-main__pic_profile_menu
                    .header-main__pic_border
                    .header-main__pic.header-main__pic_basket
                        .header-main__pic_basket_full 1
                        .header-main__pic_basket_menu
                form.header-main__search(action='#')
                    input(placeholder='Поиск')
                    i.fa.fa-search(aria-hidden='true')
        .header-main__hidden-panel.hidden-panel
            .hidden-panel__profile
                a(href='#') Личный кабинет
                a(href='#')
                    i.fa.fa-heart-o(aria-hidden='true')
                    | Избранное
                a(href='#') Выйти
            .hidden-panel__basket.basket-dropped
                .basket-dropped__title В вашей корзине:
                .basket-dropped__product-list.product-list
                    .product-list__item
                        .product-list__pic
                            img(src='img/product-list__pic_1.jpg', alt='product')
                        a.product-list__product(href='#') Ботинки женские, Baldinini
                        .product-list__fill
                        .product-list__price
                            | 12 360
                            i.fa.fa-rub(aria-hidden='true')
                        .product-list__delete
                            i.fa.fa-times(aria-hidden='true')
                    .product-list__item
                        .product-list__pic
                            img(src='img/product-list__pic_1.jpg', alt='product')
                        a.product-list__product(href='#') Ботинки женские, Baldinini
                        .product-list__fill
                        .product-list__price
                            | 12 360
                            i.fa.fa-rub(aria-hidden='true')
                        .product-list__delete
                            i.fa.fa-times(aria-hidden='true')
                    .product-list__item
                        .product-list__pic
                            img(src='img/product-list__pic_1.jpg', alt='product')
                        a.product-list__product(href='#') Ботинки женские, Baldinini
                        .product-list__fill
                        .product-list__price
                            | 12 360
                            i.fa.fa-rub(aria-hidden='true')
                        .product-list__delete
                            i.fa.fa-times(aria-hidden='true')
                    .product-list__item
                        .product-list__pic
                            img(src='img/product-list__pic_1.jpg', alt='product')
                        a.product-list__product(href='#') Ботинки женские, Baldinini
                        .product-list__fill
                        .product-list__price
                            | 12 360
                            i.fa.fa-rub(aria-hidden='true')
                        .product-list__delete
                            i.fa.fa-times(aria-hidden='true')
                button.basket-dropped__order-button Оформить заказ
    nav.main-menu
        .wrapper
            ul.main-menu__items
                li.main-menu__item
                    a(href='#') АКЦИИ
                li.main-menu__item.main-menu__item_active
                    a(href='#') ЖЕНСКАЯ ОБУВЬ
                li.main-menu__item
                    a(href='#') МУЖСКАЯ ОБУВЬ
                li.main-menu__item
                    a(href='#') ДЕТСКАЯ ОБУВЬ
                li.main-menu__item
                    a(href='#') АКСЕССУАРЫ
                li.main-menu__item
                    a(href='#') ДЛЯ ДОМА
                li.main-menu__item
                    a(href='#') БРЕНДЫ
                li.main-menu__item
                    a(href='#') НОВИНКИ
    .dropped-menu
        .wrapper
            .dropped-menu__lists
                h3.dropped-menu__list-title ПОВОД:
                ul.dropped-menu__list
                    li.dropped-menu__item
                        a(href='#') Офис
                    li.dropped-menu__item
                        a(href='#') Вечеринка
                    li.dropped-menu__item
                        a(href='#') Свадьба
                    li.dropped-menu__item
                        a(href='#') Спорт
                    li.dropped-menu__item
                        a(href='#') Море
                    li.dropped-menu__item
                        a(href='#') Дом
                    li.dropped-menu__item
                        a(href='#') Повседневное
            .dropped-menu__lists.dropped-menu__lists_three-coloumns
                h3.dropped-menu__list-title КАТЕГОРИИ:
                ul.dropped-menu__list
                    li.dropped-menu__item
                        a(href='#') Балетки
                    li.dropped-menu__item
                        a(href='#') Босоножки
                    li.dropped-menu__item
                        a(href='#') Ботильоны
                    li.dropped-menu__item
                        a(href='#') Ботинки
                    li.dropped-menu__item
                        a(href='#') Ботфорты
                    li.dropped-menu__item
                        a(href='#') Галоши
                    li.dropped-menu__item
                        a(href='#') Кеды и кроссовки
                    li.dropped-menu__item
                        a(href='#') Мокасины
                    li.dropped-menu__item
                        a(href='#') Полусапоги
                    li.dropped-menu__item
                        a(href='#') Резиновые сапоги
                    li.dropped-menu__item
                        a(href='#') Сабо
                    li.dropped-menu__item
                        a(href='#') Сапоги
                    li.dropped-menu__item
                        a(href='#') Сникерсы
                    li.dropped-menu__item
                        a(href='#') Тапочки
                    li.dropped-menu__item
                        a(href='#') Туфли
                    li.dropped-menu__item
                        a(href='#') Шлёпанцы и вьетнамки
            .dropped-menu__lists
                h3.dropped-menu__list-title СЕЗОН:
                ul.dropped-menu__list
                    li.dropped-menu__item
                        a(href='#') Зима
                    li.dropped-menu__item
                        a(href='#') Весна
                    li.dropped-menu__item
                        a(href='#') Лето
                    li.dropped-menu__item
                        a(href='#') Осень
            .dropped-menu__lists
                h3.dropped-menu__list-title БРЕНДЫ:
                ul.dropped-menu__list
                    li.dropped-menu__item
                        a(href='#') Albano
                    li.dropped-menu__item
                        a(href='#') Ballin
                    li.dropped-menu__item
                        a(href='#') Baldinini
                    li.dropped-menu__item
                        a(href='#') Damlax
                    li.dropped-menu__item
                        a(href='#') Pegia
                    li.dropped-menu__item
                        a(href='#') Renzi
                    li.dropped-menu__item
                        a(href='#') Все
